@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap');



html,body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    position: relative;
    min-height: 100%;
}

.img-init{
    width: 100%;
    display: block;
}
.w-100{
    width: 100%;
}
.w-max-100{
    max-width: 100%;
}
.w-70{
    width: 70%;
}
.w-60{
    width: 60%;
}
.w-50{
    width: 49.5%;
}
.w-30{
    width: 30%;
}
.w-35{
    width: 35%;
}

.p-5{
    padding: 3rem;
}
.py-6{
    padding: 6rem 0;
}
.py-5{
    padding: 5rem 0;
}
.py-3{
    padding: 3rem 0;
}
.py-7{
    padding: 7rem 0;
}
.px-1{
    padding: 0 1rem;
}
.px-3{
    padding: 0 3rem;
}
.px-5{
    padding: 0 5rem;
}
.pr-1{
    padding-right:1rem;
}
.pt-1{
    padding-top:1rem;
}
.pt-3{
    padding-top:3rem;
}
.pl-0{
    padding-left:0;  
}
.pr-5{
    padding-right:5rem;
}
.ml-0{
    margin-left:0 ;  
}
.mt-0{
    margin-top:0 ;  
}
.mb-0{
    margin-bottom:0 ;  
}

.bg-dark-one{
    background: #282828;
    color: $text-color-white;
    
}
.bg-one{
    background-color: #e9e9e9;
    
}

.text-secondary{
    color: #6d6a6a;
}


.content{
    max-width: 1100px;
    margin: auto;
    padding: 0 15px;
}

.div-elemet{
    display: flex;
    justify-content: center;
    align-items: center;
    &>div{
        flex: 1;
    }
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-inherit{
    color: inherit;
}
.text-justify{
    text-align: justify;
}

.f-right{
    float: right;
}
.f-left{
    float: left;
}

.m-auto{
    margin : auto;
}

.m-left{
    margin-left: auto;
}

.d-none{
    display: none !important;
}
.d-inlene-block{
    display: inline-block;
}
.btn-default{
    padding: 0.5rem 1.5rem;
    background: blue;
    color: white;
    text-decoration: none;
    display: inline;
    border-radius: 20px;
}

.a-not-link{
    text-decoration: none;
    &:hover{
        text-decoration: none; 
    }
}
.f-size-130{
    font-size: 130%;
}

.text-uppercase {
    text-transform: uppercase!important;
}

@include breakpoint([xs]){
    body{
        font-size: 87%;
    }
    .content{
        padding: 0 30px;
    }
    .p-xs-relative{
        position: relative;
    }
    .d-xs-none{
        display: none;
    }
    .d-xs-block{
        display: block;
    }
    .d-xs-100{
        width: 100%;
    }

    .div-elemet{
        display: block;
        text-align: center;
    }

    h2{
        font-size: 130%;
    }
}

@include breakpoint([sm]){
    body{
        font-size: 90%;
    }
    .content{
        padding: 0 30px;
    }
    .p-sm-relative{
        position: relative;
    }
    .d-sm-none{
        display: none;
    }
    .d-sm-block{
        display: block;
    }
    .d-sm-100{
        width: 100%;
    }

}

@include breakpoint([md]){
    body{
        font-size: 90%;
    }
    .content{
        padding: 0 30px;
    }
    .p-md-relative{
        position: relative;
    }
    .d-md-none{
        display: none;
    }
    .d-md-block{
        display: block;
    }
    .d-md-100{
        width: 100%;
    }
    .w-md-100{
        width: 99.5%;
    }
    .w-md-50{
        width: 49.5%;
    }



}