@mixin breakpoint_($class) {
    @if $class == xs {
      @media (max-width: 575.98px) { @content; }
    }
  
    @else if $class == sm {
      @media (min-width: 576px) and (max-width: 767.98px) { @content; }
    }
  
    @else if $class == md {
      @media (min-width: 768px) and (max-width: 991.98px) { @content; }
    }
  
    @else if $class == lg {
      @media (min-width: 992px) and (max-width: 1199.98px) { @content; }
    }

    @else if $class == lg {
      @media (min-width: 1200px) { @content; }
    }
  
    @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}


@mixin breakpoint($classes) {

  @each $class in $classes {
    @if $class == xs {
      @media (max-width: 575.98px) { @content; }
    }
  
    @else if $class == sm {
      @media (min-width: 576px) and (max-width: 767.98px) { @content; }
    }
  
    @else if $class == md {
      @media (min-width: 768px) and (max-width: 991.98px) { @content; }
    }
  
    @else if $class == lg {
      @media (min-width: 992px) and (max-width: 1199.98px) { @content; }
    }

    @else if $class == lg {
      @media (min-width: 1200px) { @content; }
    }
  
    @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
  }

}