.nav{
    background: $bg-nav;
    color: #bbbbbb;
    position: fixed;
    width: 100%;
    z-index: 1000;
    

    .nav-element{
        margin: 15px 15px;
        display: inline-block;
        position: relative;
        &:first-child{
            margin-left: 0;
        }
        &.active:before{
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            bottom: -15px;
            height: 5px;
            background: blue;
        }

    }
    .btn-menu{
        display: none;
    }

}

@include breakpoint([xs]){
    .nav{
        .btn-menu{
            padding: 15px;
            float: right;
            display: block;
        }
        .nav-content {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $bg-nav;
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            animation: 1s;
            transition: 1s;

            transform: translateX(-100%);
            &.active{
                
                transform: translateX(-0%);
            }
            .btn-menu{
                position: fixed;
                top: 0;
                right: 0;
            }
        }
    }


    
}